<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Smart Tinmen Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="<%= asset_path('favicon.ico') %>" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32.png') %>">
    <link rel="icon" type="image/png" sizes="48x48" href="<%= asset_path('favicon-48.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon-180.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>